* {
  box-sizing: border-box;
}
body {
  overflow: hidden;
  margin: 0;
  font: 12px verdana;
}
#centre {
  display: block;
  position: absolute;
  width: 300px;
  height: 96px;
  top: 50%;
  left: 50%;
  margin:0;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: #eee;
  border: 1px solid black;
  overflow: hidden;
  padding: 2px;
}
#rooms {
  height: 550px;
}
#footer {
  margin-left: 0px;
  margin-right: 0px;
}
#footer .button {
  height: 44px;
  background-color: #fff;
  margin-bottom: 2px;
}
#footer .button:hover {
  background-color: #777;
  color: #fff;
  font-style: italic;
}
#footer p {
  margin: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  user-select: none;
}
#rooms div {
  background-color: #fff;
  border: 1px solid black;
  width: 100%;
  height: 80px;
  margin-bottom: 2px;
}
#rooms div:hover {
  background-color: #ddf0ff;
}
#rooms div.selected {
  background-color: #38808f;
  color: #fff;
  font-style: italic;
}
#rooms div p {
  margin: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  user-select: none;
}

#backdrop {
  position:absolute;;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.8);
}
#backdrop #roomQuery {
  display: block;
  position: absolute;
  width: 300px;
  height: 120px;
  top: 50%;
  left: 50%;
  margin:0;
  margin-top: 110px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid black;
  overflow: hidden;
  padding: 20px;
}
#backdrop #roomQuery input {
  margin:0;
  width: 100%;
  height: 50%;
  text-align: center;
  vertical-align: middle;
  border: 0;
  border: 1px solid #444;
  font-style: italic;
}
#backdrop #roomQuery .button {
  left: 0;
  width: 50%;
  height: 50%;
  background-color: #eee;
  float: left;
  border: 1px solid #444;
  border-top: 0;
}
#backdrop #roomQuery #roomQueryCancel {
  border-left: 0;
  left: 50%;
}
#backdrop #roomQuery #roomQueryOk:hover {
  background-color: #777;
  color: #fff;
}
#backdrop #roomQuery #roomQueryCancel:hover {
  background-color: #777;
  color: #fff;
}
#backdrop p {
  margin: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  user-select: none;
}
